<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일명</title>
  </head>
  <body>
    <div id="app">
      <h1>v-model</h1>
      <article>
        <h2>1. 기본 폼 요소 바인딩</h2>
        <textarea type="text" v-model="message"></textarea>
        <p>입력한 값 - {{message}}</p>
      </article>
      <article>
        <h2>체크박스</h2>
        <input type="checkbox" v-model="isChecked" id="test1" />
        <label for="test1">체크박스1</label>
        <p>상태표시 : <span>{{isChecked? '체크됨' : '체크안됨'}}</span></p>
      </article>
      <article>
        <h2>다중 체크박스</h2>
        <input type="checkbox" id="sebin" value="sebin" v-model="checkNames" />
        <label for="sebin">sebin</label>
        <input type="checkbox" id="yb" value="yb" v-model="checkNames" />
        <label for="yb">yoonbin</label>
        <input type="checkbox" id="dy" value="dy" v-model="checkNames" />
        <label for="dy">dongyoon</label>
        <p>선택한 이름:{{checkNames}}</p>
      </article>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
      const { createApp } = Vue;

      let vm = createApp({
        name: 'App',
        data() {
          return {
            message: '',
            isChecked: true,
            checkNames: [],
          };
        },
      });
      vm.mount('#app');
    </script>
  </body>
</html>
